<template>
  <div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email info you remember</label>
        <input type="email"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Enter first name, last name, phone or email"
               @input="search"
               v-model="q"
        >
      </div>
      {{ users }}

      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Country</th>
          <th scope="col">City</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user of users"
            :key="user.id"
        >
          <th scope="row">{{ user.id }}</th>
          <td>{{ user && user.first_name ? user.first_name : 'not defined' }}</td>
          <td>{{ user && user.last_name ? user.last_name : 'not defined' }}</td>
          <td>{{ user && user.email ? user.email : 'not defined' }}</td>
          <td>{{ user && user.phone ? user.phone : 'not defined' }}</td>
          <td>{{ user && user.country ? user.country : 'not defined' }}</td>
          <td>{{ user && user.city ? user.city : 'not defined' }}</td>
        </tr>

        </tbody>
      </table>


    </form>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: "PhonebookComponent",
    data() {
      return {
        users: [],
        q: ''
      }
    },
    methods: {
      getUsers() {
        axios.get('/api/users').then(response => {
          console.log(response.data)
          // commit('SET_USERS', response.data)
          this.users = response.data
        })
      },
      search() {
        axios.get(`/api/search`, {
          params: {
            q: this.q
          }
        }).then(response => {
          this.users = response.data
        })
        if (this.q === '') {
          this.getUsers()
        }
      }
    },
    /*computed: {
      users() {
        return this.$store.getters['users/users']
      }
    },*/
    mounted() {
      // this.$store.dispatch('users/getUsers')
      this.getUsers()
    }
  }
</script>

<style scoped>

</style>
